.App {
  text-align: center;
  background-color: lightgray;
}
.list-item{
  max-width: 500px;
  display: flex;
  
  .remove-btn{
    align-items: flex-end;
  }
}
.completed-task{
  background-color: lightgreen;
}

.count-div{
   padding: 8px;
   
 button {
    background-color: black;
    padding: 8px;
    color: white;
   }
 
}
